{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap">
                                <a href="#"><img src="{{ product.image.url }}"></a>
                            </div> <!-- img-big-wrap.// -->

                        </article> <!-- gallery-wrap .end// -->
                    </aside>
                    <main class="col-md-6 border-left">
                        <article class="content-body">

                            <h2 class="title">{{ product.name }}</h2>

                            <div class="mb-3">
                                <var class="price h4">$<span
                                        class="product-price-{{ product.id }}">{{ product.price }}</span></var>
                            </div>
                            <p>{{ product.description }}</p>
                            <input type="hidden" class="product-id-{{ product.id }}" value="{{ product.id }}">
                            <input type="hidden" class="product-image-{{ product.id }}"
                                   value="{{ product.image.url }}">
                            <input type="hidden" class="product-name-{{ product.id }}" value="{{ product.name }}">
                            <hr>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Choose Color</h6>
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> Silver
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> Gray
                                        </label>
                                        <label class="btn btn-light active">
                                            <input type="radio" name="radio_color checked"> Gold
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> Black
                                        </label>
                                    </div>
                                </div>
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Size</h6>
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> S
                                        </label>
                                        <label class="btn btn-light active">
                                            <input type="radio" name="radio_color" checked> M
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> L
                                        </label>
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> XL
                                        </label>
                                    </div>
                                </div>
                            </div> <!-- row.// -->
                            <hr>

                            {% if product.stock <= 0 or not product.is_available %}
                                <h5 class="btn btn-gray ">Out Of Stock</h5>
                            {% else %}
                                <!-- product quantity .// -->
                                <input type="hidden" id="product-stock" value="{{ product.stock }}">
                                <div class="input-group input-spinner mb-2">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light" type="button" id="button-minus"><i
                                                class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="text" class="form-control product-quantity-{{ product.id }}" value="1"
                                           id="product-quantity">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button" id="button-plus"><i
                                                class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <br>
                                {% if product.stock > 0 and product.stock <= 10 and product.is_available %}
                                    <span class="text-danger ">Low stock: only <span>{{ product.stock }}</span> left</>
                                    <br>
                                {% endif %}
                                <!-- Add to cart .// -->
                                <button type="submit" class="btn  btn-primary add-to-cart-btn"
                                        data-index="{{ product.id }}"> <span
                                        class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i></button>
                            {% endif %}
                        </article> <!-- product-info-aside .// -->
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
