{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y" style="min-height:84vh">

        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            {% include 'includes/alerts.html' %}
            <div class="card-body">
                <h4 class="card-title mb-4">Reset password</h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="New Password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password">
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Reset</button>
                    </div> <!-- form-group// -->
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}