{% autoescape off %}
<div class="container" style="padding: 15px;">
    <h2 class="bg-primary text-white p-2 rounded-top" style="margin: 0; padding: 10px;">Verify Email</h2>
    <div class="bg-white p-3" style="margin: 0; padding: 15px;">
        <p>Hi {{ user.first_name }},</p>
        <p>Forget your password?</p>
        <p>We received a request to reset the password for your account</p>

        <p>To reset your password, click on the button below:</p>
        <a href="{{ request.scheme }}://{{ domain }}{% url 'reset-password-validate' uidb64=uid token=token %}" style="border: 0; color: #ffffff; background-color: #5865F2; padding: 10px; margin-top: 10px; font-weight: bold; text-decoration: none; border-radius: 5px;">
            Reset password
        </a>
        <p style="margin-top: 30px;">Or you can copy the link below to your browser</p>
        <p>{{ request.scheme }}://{{ domain }}{% url 'reset-password-validate' uidb64=uid token=token %}</p>
        <p>If you did not make this request then please ignore this email.</p>

    </div>
    <p>Insta Shop</p>
    <div class="text-center mt-4">
        <p>© {% now 'Y' %} <a href="">InstaShop</a></p>
        <p>Follow us on <a href="https://twitter.com/">Twitter</a></p>
    </div>
</div>
{% endautoescape %}